<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Tic-Tac-Toe</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <link href="style.css" type="text/css" rel="stylesheet">
  <script src="app.js"></script>
</head>
<body ng-app="TicTacToe">
  <div class="board-container" ng-controller="BoardController">
    <h1>{{header}}</h1>
    <div id="buttons">
      <form ng-show="!gameOver">
        Change number of rows <input ng-change="clearBoard()" type="number" min="2" max="5" ng-model="rows">
      </form>
      <button ng-show="gameOver" ng-click="clearBoard()">Restart</button>
    </div>
    <table id="board">
      <tr class="row" ng-repeat="row in board">
        <td class="cell" ng-repeat="cell in row" ng-click="toggleCell($parent.$index, $index)" 
        ng-class="{top: cell.top, bottom: cell.bottom, right: cell.right, left: cell.left, available: !cell.clicked}">
          <img ng-show="cell.clicked" ng-class="{winner: cell.play === winner}" src="{{cell.image}}"/>
        </td>
      </tr>
    </table>
  </div>
</body>
</html>