h1 {
  text-align: center;
}

.board-container {
  width: 100%;
  height: 100%;
}

#board {
  margin: 0 auto;
  height: 500px;
  width: 500px;
}

.row {
  margin: 0;
  text-align: center;
}

#board td {
  background-color: beige;
}

